/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

circle {
  fill-opacity: .5;
  stroke: rgb(31, 119, 180);
  stroke-width: 2px;
}

.leaf circle {
  fill-opacity: 1 !important;
}

text {
  font-size: 10px;
  text-anchor: middle;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 160px;
    padding: 12px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

body {
  background-color: #607d8b;
}

nav ul a,
nav .brand-logo {
  color: #b2ebf2;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #607d8b;
}

.clickable, .nav, .pagination, .carousel a, .dropdown-menu > li > a {
  cursor: pointer;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.nav-wrapper .brand-logo img {
  height: 64px;
}

@media (max-width: 600px) {
.nav-wrapper .brand-logo img {
    height: 56px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}