/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

circle {
  fill-opacity: .5;
  stroke: rgb(255, 135, 0);
  stroke-width: 2px;
}

.listrow:hover>td {
    color: #196f67;
}

.leaf circle {
  fill-opacity: 1 !important;
}

.bg {
    min-height: calc(100% - 279px);
}

text {
  font-size: 10px;
  text-anchor: middle;
}

.select-wrapper>input.select-dropdown{
    border-bottom: 1px solid #FFFFFF !important;
}

input[type=number]{
    border-bottom: 1px solid #000000 !important;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 12px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 100%;
    pointer-events: none;
}

body {
  background-color: #607d8b;
}

nav ul a,
nav .brand-logo {
  color: #b2ebf2;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #607d8b;
}

.clickable, .nav, .pagination, .carousel a, .dropdown-menu > li > a {
  cursor: pointer;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.nav-wrapper .brand-logo img {
  height: 64px;
}

@media (max-width: 600px) {
.nav-wrapper .brand-logo img {
    height: 56px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.orange-nav {
    background-color: #E65100 !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}