<style>

</style>

<div class="container bg" style="margin-bottom: 40px; width:90%; background-color: #455a64; border:5px solid #42a5f5;
    margin-top:40px;">
    <div class="row valign-wrapper" style="margin:0 0; background-color: #42A5F5;  max-height: 25px;">
        <p class="white-text condensed left" style="padding-left: 10px;">
            University of Baltimore Black Law Students Association
        </p>
    </div>
    <nav class="blue-grey darken-1">
        <div class="nav-wrapper" style="padding-left: 10px; padding-right: 10px;">
            <a style="padding-left: 20px;" id="logo-container" href="#/samples/ubblsa" class="brand-logo">
                <img class="responsive-img" id="logo" height="64px" src="images/samples/ubblsa/ubblsa.png"/>
            </a>
            <ul id="nav-original" class="right hide-on-med-and-down">
                <li class="{{isActive('home')}}"><a class="white-text" href="#/samples/ubblsa" data-ng-click="id='home';">Home</a></li>
                <li class="{{isActive('about')}}"><a class="white-text" href="#/samples/ubblsa/about" data-ng-click="id='about';">About BLSA</a></li>
                <li class="{{isActive('board')}}"><a class="white-text" href="#/samples/ubblsa/board" data-ng-click="id='board';">Meet the Board</a></li>
                <li class="{{isActive('events')}}"><a class="white-text" href="#/samples/ubblsa/events" data-ng-click="id='events';">Events</a></li>
                <li class="{{isActive('contact')}}"><a class="white-text" href="#/samples/ubblsa/contact" data-ng-click="id='contact';">Contact Us</a></li>
            </ul>

            <ul id="slide-out-ubblsa" class="side-nav">
                <li class="{{isActive('home')}}"><a href="#/samples/ubblsa" data-ng-click="id='home';">Home</a></li>
                <li class="{{isActive('about')}}"><a href="#/samples/ubblsa/about" data-ng-click="id='about';">About BLSA</a></li>
                <li class="{{isActive('board')}}"><a href="#/samples/ubblsa/board" data-ng-click="id='board';">Meet the Board</a></li>
                <li class="{{isActive('events')}}"><a href="#/samples/ubblsa/events" data-ng-click="id='events';">Events</a></li>
                <li class="{{isActive('contact')}}"><a href="#/samples/ubblsa/contact" data-ng-click="id='contact';">Contact Us</a></li>
            </ul>
            <a href="#" data-activates="slide-out-ubblsa" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container" style="width: 95%; margin-top: 20px;">
        <div class="row">
            <div class="col l9 s12">
                <div class="card-panel blue-grey darken-3 z-depth-5">
                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <img src="images/samples/ubblsa/cover-1.jpg"> <!-- random image -->
                                <div class="caption center-align" style="padding-top: 45px; text-shadow:
                                   -1px -1px 0 #000,
                                    1px -1px 0 #000,
                                    -1px 1px 0 #000,
                                     1px 1px 0 #000;">
                                    <h3>Welcome to the University of Baltimore Black Law Students Association</h3>
                                </div>
                            </li>
                            <li>
                                <img src="images/samples/ubblsa/board-retreat.jpg"> <!-- random image -->
                                <div class="caption left-align blue-grey-text text-lighten-2" style="padding-top: 45px;
                                    text-shadow:
                                   -1px -1px 0 #000,
                                    1px -1px 0 #000,
                                    -1px 1px 0 #000,
                                     1px 1px 0 #000;">
                                    <h3 class="grey-text text-lighten-3">Board Retreat</h3>
                                    <h5 class="light grey-text text-lighten-3">Check out our Events Page!</h5>
                                </div>
                            </li>
                            <li>
                                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                                <div class="caption right-align">
                                    <h3>More photos here</h3>
                                    <h5>Or not.</h5>
                                </div>
                            </li>
                            <li>
                                <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                                <div class="caption center-align">
                                    <h3>I can place large text</h3>
                                    <h5 class="light grey-text text-lighten-3">I can place small text</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <h4 class="white-text center"> Are You Interested In Serving?</h4>
                    <h5 class="blue-grey-text text-lighten-2 center"> BLSA Executive Board Vacancies</h5>
                    <p class="light blue-grey-text text-lighten-3">
                        The Executive Board is happy to announce that we have filled the vacancy of Historian with Tashani Dickson. We are happy to have Tashani join our Board for the academic year!

                        <br><br>There are a few BLSA Executive Board positions that were not filled in this year's election. They include the position of Secretary, and Parliamentarian.

                        <br><br>If you are interested in serving in one of these positions and joining our BLSA Executive Board for next year, please email to President, Brandon Cahee a statement of interest of (no more than one page) why you are interested in serving in such capacity as soon as possible. <b>*Please make sure to include some innovative ideas you may want to bring to the Board if selected for the particular position that aligns to the position that you are applying for.*</b>

                        <br><br>The BLSA Board will review all statements of interests received and our President, Brandon Cahee will recommend based on the statements of interest a selection for approval by 2/3 vote of the Executive Board. Upon confirmation of vote, the BLSA Executive Board will alert by email all positions that have been filled.

                        <br><br>We hope that you will consider applying as a candidate for any of the open vacancies that we have!
                    </p>
                </div>
            </div>
            <div class="col l3 hide-on-med-and-down">
                <div class="card-panel blue-grey darken-3 z-depth-5">
                    <div class="page-header">
                        <h5 class="white-text center"> Your 2017-2018 Elected Executive Board Members</h5>
                    </div>
                    <ul class="white-text">
                        <li data-ng-repeat="member in board">
                            <p class="blue-grey-text text-lighten-2" style="margin-top: 8px; margin-bottom: 0px;">{{member.pos}}</p><span style="display:inline-block; width: 25px;"></span>{{member.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <footer class="page-footer blue-grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">UB BLSA</h5>
                    <p class="grey-text text-lighten-4">Founded in 1978, UB BLSA is a chapter of the National Black Law Students Association (NBLSA), a 501(c)(3) corporation serving the needs and goals of Black Law Students. </p>
                </div>
                <div class="col l3 s6">
                    <h5 class="white-text">Site Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/about">About BLSA</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/board">Meet the Board</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/events">Events</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col l3 s6">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/ubblsa/">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="mailto:ubblsa@gmail.com">E-Mail</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 UB BLSA
                <a class="grey-text text-lighten-4 right" href="#">Back to Oneiros</a>
            </div>
        </div>
    </footer>
</div>