<style>

</style>

<div class="container" style="margin-bottom: 40px; width:90%; background-color: #455a64; border:5px solid #42a5f5;
    margin-top:40px;">
    <div class="row valign-wrapper" style="margin:0 0; background-color: #42A5F5;  max-height: 25px;">
        <p class="white-text condensed left" style="padding-left: 10px;">
            University of Baltimore Black Law Students Association
        </p>
    </div>
    <nav class="blue-grey">
        <div class="nav-wrapper" style="padding-left: 10px; padding-right: 10px;">
            <a style="padding-left: 20px;" id="logo-container" href="#/samples/ubblsa" class="brand-logo">
                <img class="responsive-img" id="logo" height="64px" src="images/samples/ubblsa/ubblsa.jpg"/>
            </a>
            <ul id="nav-original" class="right hide-on-med-and-down">
                <li class="{{isActive('home')}}"><a class="white-text" href="#/samples/ubblsa" data-ng-click="id='home';">Home</a></li>
                <li class="{{isActive('about')}}"><a class="white-text" href="#/samples/ubblsa/about" data-ng-click="id='about';">About BLSA</a></li>
                <li class="{{isActive('events')}}"><a class="white-text" href="#/samples/ubblsa/events" data-ng-click="id='events';">Events</a></li>
                <li class="{{isActive('contact')}}"><a class="white-text" href="#/samples/ubblsa/contact" data-ng-click="id='contact';">Contact Us</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li class="{{isActive('home')}}"><a class="white-text" href="#/samples/ubblsa" data-ng-click="id='home';">Home</a></li>
                <li class="{{isActive('about')}}"><a class="white-text" href="#/samples/ubblsa/about" data-ng-click="id='about';">About BLSA</a></li>
                <li class="{{isActive('events')}}"><a class="white-text" href="#/samples/ubblsa/events" data-ng-click="id='events';">Events</a></li>
                <li class="{{isActive('contact')}}"><a class="white-text" href="#/samples/ubblsa/contact" data-ng-click="id='contact';">Contact Us</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        Well this is obviously where the content goes
    </div>
    <footer class="page-footer blue-grey">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">UB BLSA</h5>
                    <p class="grey-text text-lighten-4">Proudly serving all of specific region's needs since arbitrary year. </p>
                </div>
                <div class="col l3 s6">
                    <h5 class="white-text">Site Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/about">About BLSA</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/events">Events</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col l3 s6">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/about">About BLSA</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/events">Events</a></li>
                        <li><a class="grey-text text-lighten-3" href="#/samples/ubblsa/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 UB BLSA
                <a class="grey-text text-lighten-4 right" href="#">Back to Oneiros</a>
            </div>
        </div>
    </footer>
</div>