<div class="container" id="" style="margin: 2.5%; max-width: none; min-width: 95%;">
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-2">
                <div class="card-content">
                    <h4 style="margin-top: 0;" class="cyan-text text-accent-3">Control Panel</h4>
                    <div class="row">
                        <div class="col s10">
                            <div class="row">
                                <div input-field class="col s6">
                                    <label class="white-text">Choose Filter Method</label><br>
                                    <select id="filterBy" class="" ng-model="select.filterBy" material-select watch>
                                        <option ng-repeat="value in select.filterChoices">{{value}}</option>
                                    </select>
                                </div>
                                <div input-field class="col s6" data-ng-show="select.filterBy === 'Categories'">
                                    <label class="white-text">Select Categories to View</label><br>
                                    <select class="" ng-model="select.selectedCategories" material-select multiple watch data-ng-change="updateData()">
                                        <option ng-repeat="value in select.categoryChoices">{{value}}</option>
                                    </select>
                                </div>
                                <div input-field class="col s6" data-ng-show="select.filterBy === 'Groups'">
                                    <label class="white-text">Select Groups to View</label><br>
                                    <select class="" ng-model="select.selectedGroups" material-select multiple watch data-ng-change="updateData()">
                                        <option ng-repeat="value in select.groupChoices">{{value}}</option>
                                    </select>
                                </div>
                                <div input-field class="col s6" data-ng-show="select.filterBy === 'Threshold'">
                                    <label class="white-text">Input Minimum Threshold to Pass</label><br>
                                    <input type="number" ng-model="select.threshold" data-ng-change="updateData()"
                                           min="0.01" max="0.99" step="0.01">
                                    <label>Input label</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s2">
                            <br>
                            <br>
                            <div class="switch">
                                <label class="white-text">
                                    Pack
                                    <input type="checkbox" data-ng-model="select.loose" data-ng-change="updateData()">
                                    <span class="lever"></span>
                                    Loose
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col s8 m6" style="max-height: 400px; overflow-y: auto">
            <table class="highlight centered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Category</th>
                    <th>Blended Score</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="account in accounts.data" class="clickable" data-ng-click="selectAccount(account)" style="{{account == accounts.selected?'background-color: cyan;':''}}">
                    <td>{{account['Name']}}</td>
                    <td>{{account['Username']}}</td>
                    <td>{{account['Category']}}</td>
                    <td>{{account['Blended Score'] * 100 | number: 2}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col s4 m6">
            <div class="card-panel grey lighten-5 z-depth-1" style="width: 100%;">
                <div class="row" data-ng-show="accounts.selected['Username']">
                    <div class="col s2">
                        <img ng-src="https://twitter.com/{{accounts.selected['Username']}}/profile_image?size=bigger" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <h5>{{accounts.selected['Name']}} &nbsp;  <label style="font-size: 1.2rem;">{{accounts.selected['Category']}}</label></h5>
                        <h6><i class="fab fa-twitter cyan-text"></i><a href="https://twitter.com/{{accounts.selected['Username']}}">
                            @{{accounts.selected['Username']}}</a> &nbsp; | &nbsp;
                            <i class="fas fa-users"></i> {{accounts.selected['Followers'] | number}} Followers
                        </h6>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div>
        <svg width="1000" height="1000"><g transform="translate(1,1)"></g></svg>    </div>
</div>