<div class="container" style="padding-top: 20px">
    <nav>
        <div class="nav-wrapper">
            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right">
                        <li><a href="#/samples/chessies">Home</a></li>
                        <li><a href="#/samples/chessies/about">About</a></li>
                        <li><a href="#/samples/chessies/menu">Menu</a></li>

                    </ul>
                </div>
            </nav>

        </div>
    </nav>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

</div>

<!-- #/samples/chessies -- home
#/samples/chessies/about -- about -->

<