<div class="container" style="padding-top: 20px">
    <nav>
        <div class="nav-wrapper">
            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right">
                        <li><a href="#/samples/chessies">Home</a></li>
                        <li><a href="#/samples/chessies/about">About</a></li>
                        <li><a href="#/samples/chessies/menu">Menu</a></li>

                    </ul>
                </div>
            </nav>

        </div>