<div class="container">
    <div class="page-header">
        <h3 class="teal-text darken-4">About</h3>
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal z-depth-5">
                          <span class="white-text">Oneiros was started in late 2015 with the purpose of creating Fantasy Football Tools and Analytics,
                            <a style="color:#a7ffeb;" target="_blank" href="http://www.bryantobrien.com">which was partially fulfilled</a>, but my time and energy kept returning
                            to my work at NASA Goddard Space Flight Center. After years of learning and creating tools for scientists, I
                            have finally begun to work on creating my own suite of websites and tools.
                          </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card z-depth-5">
                <div class="card-image">
                    <img src="images/bryant-flag.jpg">
                    <span class="card-title">Bryant O'Brien</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="#/contact">
                        <i class="material-icons">email</i></a>
                </div>
                <div class="card-content">
                    <p>Hello, I have been performing professional web development work for over 4 years now, and I believe
                        everyone deserves access to the best technologies to run their business. Having lived in Huntingtown, MD my entire life,
                        Oneiros is my way to help local businesses and entrepreneurs in Southern Maryland receive the web presence they deserve. <br>
                        <a href="https://www.linkedin.com/in/bryantobrien" target="_blank">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card teal">
                    <div class="card-content white-text">
                        <span class="card-title">Character Stats:<br> Level 23</span>
                        Experience to Level 24
                        <div id="container4">

                        </div>
                        <br>
                        Programming Experience
                        <div id="container">

                        </div>
                        <br>
                        Gallons of Beer Brewed
                        <div id="container2">

                        </div>
                        <br>
                        Chickens Owned
                        <div id="container3">

                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>