<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <img class="responsive-img" id="oneiros" style="display: block; margin: 0 auto; max-height:200px;width: auto;height: auto;" src="oneiros.png"/>
            <div class="row center">
                <h5 class="header col s12 light cyan-text text-accent-2">Dreamlike Web and Mobile Design</h5>
            </div>
            <div class="row center">
                <a href="#/services" id="download-button" class="btn-large waves-effect waves-light cyan lighten-1">View Services</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="images/space-background-min.jpeg" alt="Beautiful Space"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="icon-block">
                    <h2 class="center  cyan-text darken-4"><i class="material-icons">update</i></h2>
                    <h5 class="center">Quick Development</h5>

                    <p class="center light">With over four years of web and application development for NASA, we know how to complete projects promptly.
                        Whether taking your business to the web, optimizing your site for mobile devices, or just revamping
                        your brand to draw in new customers, we guarantee you'll be impressed by the efficiency of our work!
                    </p>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="icon-block">
                    <h2 class="center cyan-text darken-4"><i class="material-icons">group</i></h2>
                    <h5 class="center">Personalized Design</h5>

                    <p class="light center">Your business, your design! We work to make sure you are happy with the look and feel of your site.
                        Care to run a promotion on Groupon, or accept online orders from Eat24? We will help set those up too!
                        If you don't have too much input, we always have plenty of ideas for a dynamic and polished website.</p>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="icon-block">
                    <h2 class="center cyan-text darken-4"><i class="material-icons">local_atm</i></h2>
                    <h5 class="center">Affordable</h5>

                    <p class="light center">We are a lean team with competitive pricing! We would love to consult with your business and discuss
                        visions, while even building
                        customized demos before you buy our services so you can see the improvements we want to make for you. Our quotes are
                        project based, so there's no stalling on our end to get your work done, and you'll know exactly the cost!
                    </p>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="icon-block">
                    <h2 class="center cyan-text darken-4"><i class="material-icons">phonelink</i></h2>
                    <h5 class="center">Compatible with Every Device</h5>
                    <p class="light center">
                        Try shrinking or expanding your browser and watch the content adapt! If your site frustrates smartphone users,
                        your business and first impressions suffer. All of our designs are responsive and optimized for browsing on
                        any desktop, laptop, tablet, or smartphone.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light black-text text-accent-2">Clean and responsive</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/cloud-background.jpeg" alt="Clean Clouds"></div>
</div>

<div class="container">
    <div class="section" id="pricing">
        <div class="row">
            <div class="col s12 center">
                <h4>Sample Pricing and Comparison</h4>
                <p class="left-align light">
                    Every client's needs are unique and so we can't give specific pricing, but we also understand the need
                    for ballpark estimates sometimes. For this website, the quote would look like:
                </p>
                <table class="highlight">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr data-ng-repeat="item in quote">
                        <td>{{item.name}}</td>
                        <td>{{item.rate | currency}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{(item.rate* item.quantity) | currency}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-weight:bold">Total</td>
                            <td></td>
                            <td></td>
                            <td style="font-weight:bold">{{total | currency}}</td>
                        </tr>
                    </tfoot>
                </table>
                <p class="condensed light">** Pages aren't always an accurate metric, if your pages are simple it's cheaper,
                    if they are rich with content, it may cost slightly more.</p>
                <p>This is comparable to <a target="_blank" href="http://www.wix.com/upgrade/premium-plans">Wix's Unlimited Plan at $14/mo</a>
                    which equates to $504 over 3 years, or <a target="_blank" href="https://www.squarespace.com/pricing#websites"> Squarespace's $12/mo Personal Plan</a>
                    for $432 over 3 years, and you have to supply the content and styling yourself. Let us handle it for you.</p>
                <br>
                <p> Additionally, if you already have your domain and hosting, our services become that much cheaper! </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A perfect blend between Information & Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>