<div class="container">
    <div class="page-header">
        <h1>Services</h1>
    </div>
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">language</i>Take Your Business Presence to the Web</div>
            <div class="collapsible-body"><span>If you don't want to deal with the hassle of setting everything up,
                we'll be happy to secure you a fitting domain name and hosting service for your site! We know what certain
                providers offer, and we'l be sure to select you the best fit, so you're not spending extra for features,
                bandwidth, or storage you'll never use!
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">build</i>Overhaul your Site</div>
            <div class="collapsible-body"><span>We'll give your site a polished, responsive feel, and transfer over all of your
                current website's content to where it belongs!
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">color_lens</i>Logos, Graphic Design, and Printing</div>
            <div class="collapsible-body"><span> We have a group of creative and talented graphic designers who
                would love to help you redesign your brand and image, or create one! Need help with designing new flyers, posters, menus or any
                other material? We can take your ideas and produce a finished product before you know it.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">local_dining</i>Eat24 Online Order Integration</div>
            <div class="collapsible-body"><span>If you own a local restaurant and have a website, why not take online orders?
                We make signing up with Eat24 simple, and we'll take care of transferring your menu over as well! We'll also be sure to
                teach you everything you need to know about updating your menu.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Web Programming Training</div>
            <div class="collapsible-body"><span>Interested in Web Development or know someone who is? We teach and tutor individual
                training sessions with anyone who wants to learn either online, or in person. We'll discuss your goals, and tailor the exercises towards them.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Anything Else We Can Do?</div>
            <div class="collapsible-body"><span>
                Many of our services have been made available over time after feedback and requests made by our clients! So if there is
                anything you wish we could help with your business, let us know, and we'll discuss how we can assist you!
            </span></div>
        </li>
    </ul>
</div>