<div class="container">
    <div class="page-header">
        <h3 class="cyan-text darken-4">Services</h3>
        <div class="card-panel cyan z-depth-5">
            <p class="condensed white-text">
                A list of some of our most common services are below, but if you have a specific task in mind, there is a great chance
                we can accommodate your vision. <a style="color:#a7ffeb;"  href="#/home#pricing">Click here for an example of pricing for a standard website like this.</a>
            </p>

            <p class="condensed light white-text">
                (Click on any of the list items for more information)
            </p>
        </div>
    </div>
    <ul class="collapsible z-depth-5" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons cyan-text darken-4">language</i>Take Your Business Presence to the Web</div>
            <div class="collapsible-body"><span>Remove the hassle of setting up your presence online;
                we'll be happy to secure you a fitting domain name and hosting service for your site! We know what certain
                providers offer, and we'll be sure to select you the best fit, so you're not spending extra for features,
                bandwidth, or storage you'll never use!
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">build</i>Overhaul your Site</div>
            <div class="collapsible-body"><span>We'll give your site a polished, responsive feel, and transfer over all of your
                current website's content to where it belongs! Contact us, and we'll create a free profile of your website with
                analysis and a sample revision of some of the features we would add.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">color_lens</i>Logos, Graphic Design, and Printing</div>
            <div class="collapsible-body"><span> We have a group of creative and talented graphic designers who
                would love to help you redesign your brand and image, or create one! Need help with designing new flyers, posters, menus or any
                other material? We can take your ideas and produce a finished product before you know it.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">local_dining</i><a href="https://eat24hours.com/">Eat24</a> Online Order Integration</div>
            <div class="collapsible-body"><span>If you own a local restaurant and have a website, why not take online orders?
                We make signing up with Eat24 simple, and we'll take care of transferring your menu over as well! We'll also be sure to
                teach you everything you need to know about updating your menu.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">email</i>Beautiful and Simple E-mail Forms</div>
            <div class="collapsible-body"><span>Allowing interested customers to inquire about your product or contact you is integral to
                expanding your business. We make collecting information from users and reliably sending you organized e-mails simple!
                Check out the <a href="#/contact">Contact</a> page for an example of the sleek and complete forms.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">shopping_cart</i>E-commerce and Bitcoin</div>
            <div class="collapsible-body"><span> If you are looking to offer items in an online store, let us help!
                No matter where your product information is stored, we'll help you sync up your digital storefront to a secure
                payment and analysis platform so you can sleep soundly at night, even while orders are still coming in! We can
                also help you accept bitcoin! <img width="20px" height="20px" src="images/bitcoin.png"/>
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">school</i>Web Programming Training</div>
            <div class="collapsible-body"><span>Interested in Web Development or know someone who is? We teach and tutor individual
                training sessions with anyone who wants to learn either online, or in person. We'll discuss your goals, and tailor the exercises towards them.
            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons cyan-text darken-4">help_outline</i>Anything Else We Can Do?</div>
            <div class="collapsible-body"><span>
                Many of our services have been made available over time after feedback and requests made by our clients!
                We can build MEAN Stack applications, and help you configure your site with any of Amazon's Web Services. So if there is
                anything you wish we could help with your business, let us know, and we'll discuss how we can assist you!
            </span></div>
        </li>
    </ul>
</div>