<div class="container bg" style="padding-top: 20px">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li><a href="#/samples/chessies">Home</a></li>
                <li><a href="#/samples/chessies/about">About</a></li>
                <li><a href="#/samples/chessies/menu">Menu</a></li>

            </ul>
        </div>
    </nav>
        <div>
            <div class="row">
                <form class="col s12">
                    <br><br>
                    <header>
                        <h4>Contact Info</h4>
                    </header>
                    <br>
                    <div class="row">
                        <header>
                            <h5>Name</h5>
                        </header>

                        <div class="input-field col s4 m3 l2">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Ms.</option>
                                <option value="2">Mr.</option>
                                <option value="3">Mrs.</option>
                            </select>
                            <label>Title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <header>
                        <h5>Mailing Address</h5>
                    </header>
                    <div class="row">
                        <div class="input-field col s6">
                            <input   id="disabled" type="text" class="validate">
                            <label for="disabled">Address Line One</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input   id="disabled" type="text" class="validate">
                            <label for="disabled">Address Line Two</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input   id="disabled" type="text" class="validate">
                            <label for="disabled">City</label>
                        </div>
                    </div>
                    <div class="input-field col s6">

                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Maryland</option>
                            <option value="2">Virginia</option>
                            <option value="3">D.C</option>
                            <option value="3">Delaware</option>
                        </select>
                        <label>State</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="zip" type="text" class="validate">
                        <label for="zip">Zip Code</label>
                    </div>
                    <header>
                        <h5>Contact</h5>
                    </header>
                    <div class="row">
                        <div class="input-field col s3">
                            <input id="homephone" type="tel" class="validate">
                            <label for="homephone">Home Phone</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="cellphone" type="tel" class="validate">
                            <label for="cellphone">Cell Phone</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="workphone" type="tel" class="validate">
                            <label for="workphone">Work Phone</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="fax" type="tel" class="validate">
                            <label for="fax">Fax Number</label>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field inline">
                                    <input id="email" type="email" class="validate">
                                    <label for="email" data-error="wrong" data-success="right">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <header>
                            <h5>Project Information</h5>
                        </header>
                        <div class="row">
                            <div class="input-field col s6">
                                <input   id="disabled" type="text" class="validate">
                                <label for="disabled">Site Address Line 2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input   id="disabled" type="text" class="validate">
                                <label for="disabled">Site Address Line 2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input   id="disabled" type="text" class="validate">
                                <label for="disabled">City</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Maryland</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">D.C</option>
                                    <option value="3">Delaware</option>
                                </select>
                                <label>State</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="zip" type="text" class="validate">
                                <label for="zip">Zip Code</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 m3 l2">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Civic</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Religious</option>
                                    <option value="3">Residential</option>
                                </select>
                                <label>Project Type</label>
                            </div>
                            <div class="input-field col s4 m3 l2">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">New</option>
                                    <option value="2">Addition</option>
                                    <option value="3">Renovation</option>
                                </select>
                                <label>Construction Type</label>
                            </div>
                            <div id="test5" ng-model="hello" ng-value="start"></div>
                            <br /><br />
                            <div id="test5" ng-model="hello" ng-value="start"></div>
                            <br /><br />
                            <div class="row">
                                <div class="input-field col s12">
                                    <select>
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">$0-$200,000</option>
                                        <option value="2">$200,000-$350,000</option>
                                        <option value="3">$350,000-$500,000</option>
                                        <option value="3">$500,000+ </option>
                                    </select>
                                    <label>Project Budget</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="projectobjective" class="materialize-textarea">Tell us a bit about your project</textarea>
                                        <label class="active" for="projectobjective">Your Project's Objective</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>